(include "misc/definitions-pycket.rkt")
(include "misc/iterations.rkt")
(include "misc/specialize-pycket-%s.rkt")
(include "src/%s")
(main)
;; Local Variables:
;; mode: scheme
;; geiser-scheme-implementation: racket
;; End:

