[submodule "pycket"]
	path = pycket
	url = https://github.com/samth/pycket.git
[submodule "ChaperoneBenchmarks/src"]
	path = ChaperoneBenchmarks/src
	url = https://github.com/sabauma/pycket-benchmarks.git
