(include "../misc/definitions.rkt")
(include "../misc/iterations.rkt")
(include "../misc/specialize-%s.rkt")
(include "../src/%s")
(main)
;; Local Variables:
;; mode: scheme
;; geiser-scheme-implementation: racket
;; End:

