#lang %s

;; prelude
%s
(include "../configuration/definitions-%s%s.rkt")
(include "../configuration/iterations.rkt")
(include "../configuration/specialize-%s%s.rkt")
(include "../src/%s")
(main)
;; Local Variables:
;; mode: scheme
;; geiser-scheme-implementation: racket
;; End:

